BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
ColumnLimit: 80
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
ReflowComments: true